@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
    background-image: url('../public//images/mypic.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    transition: all 1s ease-in-out;
    animation: rotate 8s ease-in-out infinite;
}
@keyframes rotate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.pp::before {
    content: " ";
    width: 92px;
    height: 70px;
    opacity: 1;
    background: red;
    border-top-left-radius: 8px;
    transition: all .3s ease-in-out;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: -2px;
    z-index: -1;
}
.ull{
    z-index: 3;
   
    border-top-left-radius: 7px;
    margin-left: 0;
    padding: 15px 25px ;

}